.header {
  width: 1364px;
  height: 50px;
  background: #001529;
  .logo {
    width: 200px;
    height: 50px;
    .logo-toggle {
      width: 50px;
      height: 50px;
      line-height: 50px;
      i {
        font-size: 23px;
        color: #dcdddd;
      }
    }
    .logo-toggle:hover {
      background: #2a2f32;
      i {
        color: #019487;
      }
    }
    .logo-brand {
      width: 150px;
      height: 50px;
      line-height: 45px;
      padding-left: 23px;
      a {
        text-decoration: none;
        color: #ffffff;
        font-size: 17px;
      }
    }
    .logo-brand:hover {
      background: #2a2f32;
      a {
        color: #019487;
      }
    }
  }
  .header-right {
    width: 140px;
    height: 50px;
    padding-top: 15px;
    margin-right: 20px;
    a {
      .header-img {
        width: 30px;
        height: 30px;
        margin-top: -5px;
        margin-right: 10px;
        border-radius: 50%;
      }
      text-decoration: none;
      color: #ffffff;
      i {
        line-height: 25px;
        margin-left: 10px;
      }
    }
  }
  .header-right:hover {
    background: #2a2f32;
    a:hover {
      color: #019487;
    }
  }
}
