.form-label {
  display: block;
}

.submit {
  width: 100px;
  height: 30px;
  background: aqua;
  border-radius: 20px;
  text-align: center;
  line-height: 30px;
}

textarea {
  width: 350px;
  height: 100px;
}

.boxs {
  width: 700px;
  border: 1px solid #999999;
  height: 510px;
  margin: 20px auto;
  padding: 20px;
}
